#MainLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80;
}

#MainLoader::before {
    content: "";
    background-image: url(../graphics/backgrounds/underwater.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
    z-index: 80;
}

#MainLoader .img {
    width: 10vw;
    height: 10vw;
    position: relative;
    z-index: 81;
}

#MAIN {
    width: 100vw;
    height: calc(100vh - 40px);
    margin-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bush-background-color);
    display: flex;
}

#MAIN #auth-panel-container[data-show="false"] {
    display: none;
}

#MAIN #auth-panel-container[data-show="true"] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}


/*left menu*/

#MAIN #TabMenu {
    width: 20%;
    height: 100%;
    background-color: var(--background-color-opacity);
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 5px solid var(--bush-primary);
    border-left: 0;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: -5px;
}

#MAIN #TabMenu .container {
    width: 100%;
    height: calc(100% - 12vh);
}

#MAIN #TabMenu .button {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: SquareFont;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

#MAIN #TabMenu .button:hover {
    background-color: var(--hover-background-color);
}

#MAIN #TabMenu .button .img {
    width: 8vh;
    height: 8vh;
}
#MAIN #TabMenu .button p {
    font-size: var(--normal-size);
    color: var(--text-color);
    font-family: SquareFont;
}

#MAIN #TabMenu .button.selected {
    cursor: default;
    /* From https://css.glass */
    background: var(--hover-background-color-opacity);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    box-shadow: inset 0 0 0 1px rgba(90, 88, 88, 1);
    border: 0;
}

#MAIN #TabContainers {
    width: 80%;
    height: 100%;
    background-color: var(--secondary-background-color);
    position: absolute;
    right: 0;
}

#MAIN #TabContainers .tab {
    width: 100%;
    height: 100%;
}

#MAIN #TabContainers .tab .background-image {
    position: absolute;
    top: 0;
    left: -25%;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#MAIN #TabContainers .tab .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
    margin-left: 2%;
}

#MAIN #TabContainers .tab .content::before {
    content: "";
    backdrop-filter: blur(2px) brightness(80%);
    width: 100%;
    height: 100%;
    display: block;
    /* margin-left: -2%; */
    position: absolute;
    top: 0;
    left: -2%;
    z-index: -1;
}

#MAIN #account {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 10vh;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    z-index: 11;
}

#MAIN #account .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#MAIN #account .content .userData {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

#MAIN #account .content .userData .userImage {
    width: 7vh;
    height: 7vh;
    margin-left: 5%;
    border-radius: 10px;
}

#MAIN #account .content .userData .userName {
    width: 60%;
    text-align: center;
    margin-left: 2%;
    font-family: SquareFont;
    color: var(--text-color);
    font-size: var(--normal-size);
}

#MAIN #account .content .arrow {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.5s;
}

#MAIN #account .content .arrow .img {
    width: 2.5vh;
    height: 2.5vh;
    background-image: url(../graphics/icons/arrow_down.svg);
    transition: transform 0.3s ease-in-out;
}

#MAIN #account:hover .content .arrow .img,
#MAIN #account[data-open="true"] .content .arrow .img {
    transform: translateY(2px);
}

#MAIN #account .dropdown {
    width: 100%;
    height: 220%;
    position: relative;
    top: 1vh;
    left: 0;
    border-radius: 10px;
    background-color: var(--background-color);
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s;
    padding: 0.5vh 0 0.5vh 0;
}

#MAIN #account[data-open="false"] .dropdown {
    height: 0;
    overflow: hidden;
    border-radius: inherit;
    padding: 0;
}

#MAIN #account .dropdown .loader .img {
    width: 20%;
    height: 20%;
}

#MAIN #account .dropdown .scrollable {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

#MAIN #account .dropdown .scrollable .account,
#MAIN #account .dropdown .scrollable .addAccount {
    width: 96%;
    height: 9.8vh;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    margin: 0.5vh 0 0.5vh 2%;
    border-radius: 10px;
    overflow: hidden;
    flex: none;
}

#MAIN #account .dropdown .scrollable .account.logged {
    background-color: var(--hover-background-color);
}

#MAIN #account .dropdown .scrollable .account .userData {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

#MAIN #account .dropdown .scrollable .account:not(.logged) .userData:hover {
    background-color: var(--hover-background-color);
}

#MAIN #account .dropdown .scrollable .account .userData .userImage {
    width: 7vh;
    height: 7vh;
    margin-left: 5%;
    border-radius: 10px;
}

#MAIN #account .dropdown .scrollable .account .userData .userName {
    width: 60%;
    text-align: center;
    margin-left: 2%;
    font-family: SquareFont;
    color: var(--text-color);
    font-size: var(--normal-size);
}

#MAIN #account .dropdown .scrollable .account .button-logout {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--unvalid);
    border-radius: 0 10px 10px 0;
}

#MAIN #account .dropdown .scrollable .account .button-logout .img {
    width: 4vh;
    height: 4vh;
    background-image: url(../graphics/icons/leave.svg);
}

#MAIN #account .dropdown .scrollable .addAccount {
    justify-content: center;
}

#MAIN #account .dropdown .scrollable .addAccount .img {
    background-image: url(../graphics/icons/plus.svg);
    width: 50%;
    height: 50%;
    transition: all 0.2s;
}

#MAIN #account .dropdown .scrollable .addAccount:hover .img {
    transform: scale(1.4);
}