#MainLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80;
}

#MainLoader::before {
    content: "";
    background-image: url(../graphics/backgrounds/underwater.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
    z-index: 80;
}

#MainLoader .img {
    width: 10vw;
    height: 10vw;
    position: relative;
    z-index: 81;
}


#MAIN {
    width: 100vw;
    height: calc(100vh - 30px);
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bush-background-color);
}