@font-face {
    font-family: Terabite;
    src: url(../fonts/TerabiteRegular.ttf);
}

@font-face {
    font-family: Zelta-six;
    src: url(../fonts/Zelta-Six.otf);
}

@font-face {
    font-family: SquareFont;
    src: url(../fonts/Square.ttf);
}

@font-face {
    font-family: SquareFont-outline;
    src: url(../fonts/Squareo.ttf);
}

.theme-dark {
    --background-color: #1E1D1D;
    --background-color-opacity: hsla(0, 2%, 12%, 0.82);
    --secondary-background-color: #302F2F;
    --hover-background-color: #5A5858;
    --hover-background-color-opacity: #5a5858b3;
    --bush-background-color: #252D27;
    --text-color: #FFF;
    --unvalid: #932A2A;
    --unvalid-secondary: #633434;
    --valid: #39C457;
    --valid-secondary: #2D8640;
    --bush-primary: #1E954D;
}


/*apply theme*/

body {
    user-select: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h-line {
    height: 1px;
    background-color: var(--text-color);
    border-radius: 10px;
}

.v-line {
    width: 1px;
    background-color: var(--text-color);
    border-radius: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 0;
}


/*scrollbar*/

div::-webkit-scrollbar {
    width: 8px;
}

div::-webkit-scrollbar-thumb {
    background: var(--hover-background-color);
    border-radius: 8px;
}


/**/


/*Loader*/

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .img {
    width: 90%;
    height: 90%;
    background-image: url(../graphics/icons/loading.svg);
}