@font-face {
    font-family: Terabite;
    src: url(./ressources/fonts/TerabiteRegular.ttf);
}

@font-face {
    font-family: Zelta-six;
    src: url(./ressources/fonts/Zelta-Six.otf);
}

@font-face {
    font-family: SquareFont;
    src: url(./ressources/fonts/Square.ttf);
}

@font-face {
    font-family: SquareFont-outline;
    src: url(./ressources/fonts/Squareo.ttf);
}

.theme-dark {
    --background-color: #252d27;
    --hover-color: #464444;
    --black: #302F2F;
    --dark-black: #1E1D1D;
    --main-green: #1E954D;
    --hover-green: #3cb36c;
    --text-color: #fff;
    --red: #dd5c5c;
}


/*apply theme*/

body {
    user-select: none;
    overflow: hidden;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h-line {
    height: 1px;
    background-color: var(--text-color);
    border-radius: 10px;
}

.v-line {
    width: 1px;
    background-color: var(--text-color);
    border-radius: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 0;
}


/*scrollbar*/

div::-webkit-scrollbar {
    width: 8px;
}

div::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 8px;
}

#app {
    width: 100vw;
    height: calc(100vh - 30px);
    margin-top: 30px;
}

#layout {
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
}

#layout #MainContainer {
    width: 100vw;
    height: 100vh;
}


/**/


/*FrameMenu*/

#menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100vw;
    background: var(--background-color);
    -webkit-app-region: drag;
    z-index: 99;
    overflow: hidden;
}

#menu-bar .img {
    height: 17px;
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(./ressources/graphics/icon.svg);
}

#menu-bar p {
    color: white;
    font-size: 1em;
    font-family: Terabite;
}

#menu-bar .app-version {
    font-family: SquareFont;
    margin-left: 5px;
    font-size: 1rem;
}

#menu-bar>div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-bar .menubar-btn {
    -webkit-app-region: no-drag;
}

#menu-bar button {
    height: 100%;
    padding: 0 10px;
    border: none;
    background: transparent;
    outline: none;
}

#menu-bar button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#menu-bar #close-btn:hover {
    background: rgb(255, 0, 0);
}

#menu-bar button .icon {
    color: white;
}

#menu-bar button#close-btn div {
    height: 24px;
    width: 24px;
}


/**/


/*Loading panel*/

#loading-panel[data-show="false"] {
    display: none;
}

#loading-panel {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-panel .img.pop {
    background-image: url(./ressources/graphics/icon.png);
    width: 50vw;
    height: 50vw;
    background-size: contain;
    animation: popup 1s ease-in-out;
}

#loading-panel .img {
    background-image: url(./ressources/graphics/icon.png);
    width: 50vw;
    height: 50vw;
    background-size: contain;
    animation: zoom 1s ease-in-out infinite;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.015)
    }
    100% {
        transform: scale(1)
    }
}


/**/


/*authpanel*/

#authPanel {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    background-image: url(./ressources/graphics/backgrounds/underwater.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#authPanel .content {
    width: 70%;
    height: 80%;
    /* From https://css.glass */
    background: rgba(87, 120, 210, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(87, 120, 210, 0.51);
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#authPanel .content .title-container {
    width: 100%;
    height: 20%;
    /*background-color: violet;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#authPanel .content .title-container .img {
    height: 15vh;
    width: 15vh;
    background-image: url(./ressources/graphics/icon.svg);
    /*background-color: rebeccapurple;*/
}

#authPanel .content .title-container .textes {
    height: 100%;
}

#authPanel .content .title-container .title {
    min-width: 60%;
    max-height: 100%;
    /*background-color: green;*/
    font-size: 10vh;
    font-family: Terabite;
    word-break: keep-all;
    margin-top: 3%;
}

#authPanel .content .title-container .version {
    margin-top: -4%;
    font-family: SquareFont;
    font-weight: 100;
    font-size: 2vh;
}

#authPanel .content .login-content {
    margin-top: 5%;
    /*background-color: red;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#authPanel .content .login-content .auth-container {
    /*background-color: blue;*/
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#authPanel .content .login-content p {
    color: var(--text-color);
    font-family: SquareFont;
    font-size: 3.5vw;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    /* From https://css.glass */
    background: rgba(146, 146, 146, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(146, 146, 146, 0.3);
    transition: all 0.5s;
    cursor: pointer;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft .img {
    background-image: url(./ressources/graphics/icons/microsoft.svg);
    width: 90%;
    height: 90%;
    position: relative;
    top: -95%;
    left: 5%;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft:hover {
    transform: scale(1.1);
}

#authPanel .content .login-content .auth-container .btn-log-microsoft::before {
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    background: linear-gradient(159deg, rgba(255, 87, 34, 1) 0%, rgba(76, 175, 80, 1) 100%);
    filter: blur(20px);
    opacity: 0.4;
    transition: opacity 0.3s;
    border-radius: 50%;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft:hover::before {
    opacity: 1;
}


/**/


/*Launcher*/


/*In launcher*/

#launcher {
    width: 100%;
    height: 100%;
    display: flex;
}

#launcher #side-menu {
    height: 100%;
    width: 20%;
    background-color: var(--dark-black);
}

#launcher #up-menu {
    height: 8vh;
    width: 23vw;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: var(--background-color);
    border-radius: 0 0 0 10px;
    z-index: 10;
}


/*Up Menu*/

#launcher #up-menu #account {
    height: 100%;
    min-width: 10vw;
    cursor: pointer;
    /*background-color: aqua;*/
}

#launcher #up-menu #account .content {
    height: 100%;
    width: 100%;
    /*background-color: green;*/
    display: flex;
    align-items: center;
}

#launcher #up-menu #account .content .img:nth-child(1) {
    width: 5vh;
    height: 5vh;
    background-color: gainsboro;
    margin-right: 1vw;
    border-radius: 5px;
    overflow: hidden;
}

#launcher #up-menu #account .content .img:nth-child(1) img {
    width: 100%;
    height: 100%;
}

#launcher #up-menu #account:hover .content .arrow-down,
#launcher #up-menu #account[data-open="true"] .content .arrow-down {
    transform: translateY(3px)
}

#launcher #up-menu #account .content .arrow-down {
    width: 3vh;
    height: 3vh;
    background-image: url(./ressources/graphics/icons/arrow_down.svg);
    transition: transform 0.5s;
}

#launcher #up-menu #account .content .username {
    font-family: SquareFont;
    font-size: 2.5vh;
    margin-right: 1vw;
}

#launcher #up-menu #account[data-open="false"] .dropper {
    display: none;
}

#launcher #up-menu #account[data-open="true"] .dropper {
    width: 126%;
    min-height: 110%;
    background-color: var(--dark-black);
    position: relative;
    left: -13%;
    padding-top: 1.5vh;
    border-radius: 0 0 5px 5px;
}

#launcher #up-menu #account .dropper .button {
    width: 100%;
    height: 7vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
    border-radius: 5px;
}

#launcher #up-menu #account .dropper .button:hover {
    transform: translateX(-3px);
    background-color: var(--hover-color);
}

#launcher #up-menu #account .dropper .button .img {
    width: 4vh;
    height: 4vh;
    -webkit-mask-size: cover;
}

#launcher #up-menu #account .dropper .button p {
    font-family: SquareFont;
    font-size: 2.5vh;
}

#launcher #up-menu #devToolButton {
    height: 100%;
    width: 5vw;
    cursor: pointer;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

#launcher #up-menu #devToolButton:hover {
    background-color: var(--hover-color);
}

#launcher #up-menu #devToolButton .img {
    height: 70%;
    width: 70%;
    background-image: url(./ressources/graphics/icons/terminal.svg);
}


/*Side Menu*/

#launcher #side-menu .versions {
    width: 100%;
    height: 90%;
}

#launcher #side-menu .option,
#launcher #side-menu .version-type {
    width: 100%;
    height: 9vh;
    /* background-color: orangered;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#launcher #side-menu .version-type.selected {
    background-color: var(--hover-color);
    cursor: default;
}

#launcher #side-menu .option:hover,
#launcher #side-menu .version-type:hover {
    background-color: var(--hover-color);
}

#launcher #side-menu .option .img,
#launcher #side-menu .version-type .img {
    width: 6vh;
    height: 6vh;
    /*background-color: gainsboro;*/
}

#launcher #side-menu .option .name,
#launcher #side-menu .version-type .name {
    width: 50%;
    text-align: center;
    font-family: SquareFont;
    font-size: 2.5vh;
    /*background-color: maroon;*/
}


/*Main Container*/

#launcher #MainContainer {
    height: 100%;
    width: 80%;
    backdrop-filter: blur(2px);
}

#launcher #MainContainer .container {
    display: none;
}

#launcher #MainContainer .container.show,
#OPTION-container {
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Button*/

#launcher #MainContainer .container.show #LaunchButton {
    width: 30vw;
    height: 10vh;
    background-color: var(--main-green);
    position: absolute;
    top: 40%;
    border-radius: 20px;
    transition: all 0.5s;
}

#launcher #MainContainer .container.show #LaunchButton .selectable {
    width: 100%;
    height: 100%;
    display: flex;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .selectable {
    height: 93%;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] {
    width: 35vw;
}

#launcher #MainContainer .container.show #LaunchButton[data-open="true"] {
    border-radius: 20px 20px 20px 0;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .launch {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SquareFont;
    border-radius: 0 20px 20px 0;
    font-size: 3.5vh;
    transition: all 0.5s;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="false"] .selectable .launch:hover {
    width: 70%;
    background-color: var(--hover-green);
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .selectable .launch {
    width: 90%;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .launch p {
    transition: all 0.3s;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="false"] .selectable .launch:hover p {
    transform: scale(1.1);
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .selectable .launch p {
    font-size: 3vh;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector {
    height: 100%;
    width: 55%;
    border-radius: 20px 0 0 20px;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .content .img {
    background-image: url(./ressources/graphics/icons/arrow_down.svg);
    width: 3.5vh;
    height: 3.5vh;
    transition: all 0.3s;
}

#launcher #MainContainer .container.show #LaunchButton[data-open="true"] .selectable .version-selector .content .img,
#launcher #MainContainer .container.show #LaunchButton[data-launching="false"] .selectable .version-selector:hover .content .img {
    transform: translateY(2px);
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .selectable .version-selector .content .img {
    background-image: url(./ressources/graphics/icons/loading.svg);
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="launched"] .selectable .version-selector .content .img {
    background-image: url(./ressources/graphics/icons/done.svg);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .content .version {
    font-size: 4vh;
    font-family: SquareFont;
    margin-right: 2vh;
}

#launcher #MainContainer .container.show #LaunchButton[data-open="false"] .selectable .version-selector .dropper,
#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .selectable .version-selector .dropper {
    display: none;
}

#launcher #MainContainer .container.show #LaunchButton[data-open="true"][data-launching="false"] .selectable .version-selector .dropper {
    width: 100%;
    min-height: 100%;
    max-height: 300%;
    background-color: var(--background-color);
    padding-bottom: 1vh;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column-reverse;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version {
    width: 100%;
    height: 7vh;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version.selected {
    background-color: var(--hover-green);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version.selected:hover {
    background-color: var(--hover-green);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version:hover {
    background-color: var(--hover-color);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version .img {
    background-image: url(./ressources/graphics/icons/close.svg);
    width: 3vh;
    height: 3vh;
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version .img.installed {
    background-image: url(./ressources/graphics/icons/done.svg);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version .img.toDownload {
    background-image: url(./ressources/graphics/icons/download.svg);
}

#launcher #MainContainer .container.show #LaunchButton .selectable .version-selector .dropper .version p {
    margin-left: 2vh;
    font-size: 3.5vh;
    font-family: SquareFont;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="false"] .loadBar {
    display: none;
}

#launcher #MainContainer .container.show #LaunchButton[data-launching="true"] .loadBar {
    display: block;
    width: var(--loadpercentage);
    height: 7%;
    background-color: rgb(33, 217, 143);
    border-radius: 20px;
    transform: scale(0.9);
    transition: all 0.5s;
}


/**/


/*Vanilla style*/

#launcher #MainContainer .container.show#VANILLA-container {
    background-image: url('./ressources/graphics/backgrounds/java.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#launcher #MainContainer .container.show#VANILLA-container .logo {
    width: 45%;
    height: 20%;
    background-image: url(./ressources/graphics/images/minecraft_java_logo.svg);
    /*background-color: orange;*/
    margin-top: 10vh;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list {
    width: 45vw;
    height: 40vh;
    background-color: var(--dark-black);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px 0 0 0;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .title {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: SquareFont;
    font-size: 3vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .title .reload {
    width: 3vw;
    height: 100%;
    position: relative;
    left: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .title .reload .img {
    width: 3vh;
    height: 3vh;
    background-image: url(./ressources/graphics/icons/rotate-left.svg);
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list {
    /*background-color: red;*/
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list[data-loading="false"] .loader {
    display: none;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list[data-loading="true"] .loader {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .loader .img {
    width: 10vh;
    height: 10vh;
    background-image: url(./ressources/graphics/icons/loading.svg);
    /*background-color: red;*/
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers {
    width: 100%;
    height: 100%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server {
    width: 97%;
    height: 10vh;
    transform: translateX(-50%);
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s;
    border-radius: 10px;
    overflow: hidden;
    margin: 1vh 0 1vh 50%;
    flex: none;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="false"] {
    opacity: 0.4;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="loading"] {
    opacity: 0.8;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="false"] .button,
#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="loading"] .button {
    border: 0;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="false"] .button .img {
    background-image: url(./ressources/graphics/icons/close.svg);
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="loading"] .button .img {
    background-image: url(./ressources/graphics/icons/loading.svg);
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .button {
    height: 80%;
    width: 8vh;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-version="null"] .button .img {
    display: none;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-version="null"] .button {
    border: 0;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="true"]:not([data-version="null"]) .button:hover {
    width: 25%;
    border-radius: 10px;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .button p {
    display: none;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server[data-is-online="true"]:not([data-version="null"]) .button:hover p {
    display: block;
    font-family: SquareFont;
    font-size: 3.5vh;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .button .img {
    background-image: url(./ressources/graphics/icons/caret-right.svg);
    width: 5vh;
    height: 5vh;
    margin-right: -5%;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .content {
    height: 100%;
    width: 80%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .content .logo {
    height: 10vh;
    width: 10vh;
    /*background-color: orange;*/
    margin: 0;
    background-image: url();
    border-radius: 10px;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .content .infos {
    height: 100%;
    width: 80%;
    /*background-color: orangered;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3vh;
    font-family: SquareFont;
}

#launcher #MainContainer .container.show#VANILLA-container #server-list .list .servers .server .content .infos .ip {
    font-size: 2vh;
}


/*Forge style*/

#launcher #MainContainer .container.show#FORGE-container {
    background-image: url('./ressources/graphics/backgrounds/forge.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#launcher #MainContainer .container.show#FORGE-container .logo {
    width: 45%;
    height: 20%;
    background-image: url(./ressources/graphics/images/forge_logo.png);
    /*background-color: orange;*/
    margin-top: 10vh;
}


/**/


/*Options Panel*/

#OPTION-container {
    background-color: var(--black);
    z-index: 1;
    position: relative;
}

#OPTION-container .content {
    width: 90%;
    min-height: 90%;
    margin-top: 5%;
    background-color: var(--hover-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#OPTION-container .content p {
    font-family: SquareFont;
    font-size: 1.5vw;
}

#OPTION-container .content .title {
    font-size: 3vw;
    margin: 1vh 0 1vh 0;
}

#OPTION-container .content .sub-title {
    font-size: 2vw;
    margin: 1vh 0 1vh 0;
}

#OPTION-container .content .setting {
    /*background-color: orange;*/
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#OPTION-container .content .setting .sTitle {
    min-width: 30%;
}

#OPTION-container .content .setting .sContent {
    width: 50%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#OPTION-container .content .setting .sContent input[type="range"] {
    width: 50%;
}


/**/