@font-face {
    font-family: Terabite;
    src: url(./ressources/fonts/TerabiteRegular.ttf);
}

@font-face {
    font-family: Zelta-six;
    src: url(./ressources/fonts/Zelta-Six.otf);
}

@font-face {
    font-family: SquareFont;
    src: url(./ressources/fonts/Square.ttf);
}

@font-face {
    font-family: SquareFont-outline;
    src: url(./ressources/fonts/Squareo.ttf);
}

.theme-dark {
    --background-color: #252d27;
    --hover-color: #464444;
    --black: #302F2F;
    --dark-black: #1E1D1D;
    --main-green: #1E954D;
    --text-color: #fff;
    --red: #dd5c5c;
}


/*apply theme*/

body {
    user-select: none;
    overflow: hidden;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h-line {
    height: 1px;
    background-color: var(--text-color);
    border-radius: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 0;
}

#app {
    width: 100vw;
    height: calc(100vh - 30px);
    margin-top: 30px;
}

#layout {
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
}

#layout #MainContainer {
    width: 100vw;
    height: 100vh;
}


/**/


/*FrameMenu*/

#menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100vw;
    background: var(--background-color);
    -webkit-app-region: drag;
    z-index: 99;
    overflow: hidden;
}

#menu-bar .img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(./ressources/graphics/icon.svg);
}

#menu-bar p {
    color: white;
    font-size: 1em;
    font-family: Terabite;
}

#menu-bar .app-version {
    font-family: SquareFont;
    margin-left: 5px;
    font-size: 1rem;
}

#menu-bar>div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-bar .menubar-btn {
    -webkit-app-region: no-drag;
}

#menu-bar button {
    height: 100%;
    padding: 0 10px;
    border: none;
    background: transparent;
    outline: none;
}

#menu-bar button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#menu-bar #close-btn:hover {
    background: rgb(255, 0, 0);
}

#menu-bar button i {
    color: white;
}


/**/


/*Loading panel*/

#loading-panel[data-show="false"] {
    display: none;
}

#loading-panel {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-panel .img.pop {
    background-image: url(./ressources/graphics/icon.png);
    width: 50vw;
    height: 50vw;
    background-size: contain;
    animation: popup 1s ease-in-out;
}

#loading-panel .img {
    background-image: url(./ressources/graphics/icon.png);
    width: 50vw;
    height: 50vw;
    background-size: contain;
    animation: zoom 1s ease-in-out infinite;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.015)
    }
    100% {
        transform: scale(1)
    }
}


/**/


/*authpanel*/

#authPanel {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    background-image: url(./ressources/graphics/backgrounds/underwater.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#authPanel .content {
    width: 70%;
    height: 80%;
    /* From https://css.glass */
    background: rgba(87, 120, 210, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(87, 120, 210, 0.51);
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#authPanel .content .title-container {
    width: 100%;
    height: 20%;
    /*background-color: violet;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#authPanel .content .title-container .img {
    height: 15vh;
    width: 15vh;
    background-image: url(./ressources/graphics/icon.svg);
    /*background-color: rebeccapurple;*/
}

#authPanel .content .title-container .textes {
    height: 100%;
}

#authPanel .content .title-container .title {
    min-width: 60%;
    max-height: 100%;
    /*background-color: green;*/
    font-size: 10vh;
    font-family: Terabite;
    word-break: keep-all;
    margin-top: 3%;
}

#authPanel .content .title-container .version {
    margin-top: -4%;
    font-family: SquareFont;
    font-weight: 100;
    font-size: 2vh;
}

#authPanel .content .login-content {
    margin-top: 5%;
    /*background-color: red;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#authPanel .content .login-content .auth-container {
    /*background-color: blue;*/
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#authPanel .content .login-content p {
    color: var(--text-color);
    font-family: SquareFont;
    font-size: 3.5vw;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    /* From https://css.glass */
    background: rgba(146, 146, 146, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(146, 146, 146, 0.3);
    transition: all 0.5s;
    cursor: pointer;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft .img {
    background-image: url(./ressources/graphics/icons/microsoft.svg);
    width: 90%;
    height: 90%;
    position: relative;
    top: -95%;
    left: 5%;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft:hover {
    transform: scale(1.1);
}

#authPanel .content .login-content .auth-container .btn-log-microsoft::before {
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    background: linear-gradient(159deg, rgba(255, 87, 34, 1) 0%, rgba(76, 175, 80, 1) 100%);
    filter: blur(20px);
    opacity: 0.4;
    transition: opacity 0.3s;
}

#authPanel .content .login-content .auth-container .btn-log-microsoft:hover::before {
    opacity: 1;
}


/**/


/*Launcher*/


/*In launcher*/

#launcher {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('./ressources/graphics/backgrounds/java.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#launcher #side-menu {
    height: 100%;
    width: 20%;
    background-color: var(--dark-black);
}

#launcher #up-menu {
    height: 8vh;
    padding: 0 2% 0 2%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: var(--background-color);
    border-radius: 0 0 0 10px;
    z-index: 10;
}


/*Up Menu*/

#launcher #up-menu #account {
    height: 100%;
    min-width: 10vw;
    /*background-color: aqua;*/
}

#launcher #up-menu #account .content {
    height: 100%;
    width: 100%;
    /*background-color: green;*/
    display: flex;
    align-items: center;
}

#launcher #up-menu #account .content .img:nth-child(1) {
    width: 5vh;
    height: 5vh;
    background-color: gainsboro;
    margin-right: 1vw;
    border-radius: 5px;
    overflow: hidden;
}

#launcher #up-menu #account .content .img:nth-child(1) img {
    width: 100%;
    height: 100%;
}

#launcher #up-menu #account:hover .content .arrow-down,
#launcher #up-menu #account[data-open="true"] .content .arrow-down {
    transform: translateY(3px)
}

#launcher #up-menu #account .content .arrow-down {
    width: 3vh;
    height: 3vh;
    background-image: url(./ressources/graphics/icons/arrow_down.svg);
    transition: all 0.5s;
}

#launcher #up-menu #account .content .username {
    font-family: SquareFont;
    font-size: 2.5vh;
    margin-right: 1vw;
}

#launcher #up-menu #account[data-open="false"] .dropper {
    display: none;
}

#launcher #up-menu #account[data-open="true"] .dropper {
    width: 126%;
    min-height: 110%;
    background-color: var(--dark-black);
    position: relative;
    left: -13%;
    padding-top: 1.5vh;
    border-radius: 0 0 5px 5px;
}

#launcher #up-menu #account .dropper .button {
    width: 100%;
    height: 7vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
    border-radius: 5px;
}

#launcher #up-menu #account .dropper .button:hover {
    transform: translateX(-3px);
    background-color: var(--hover-color);
}

#launcher #up-menu #account .dropper .button .img {
    width: 4vh;
    height: 4vh;
    -webkit-mask-size: cover;
}

#launcher #up-menu #account .dropper .button p {
    font-family: SquareFont;
    font-size: 2.5vh;
}


/*Side Menu*/

#launcher #side-menu .version-type {
    width: 100%;
    height: 8vh;
    /* background-color: orangered;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher #side-menu .version-type.selected {
    background-color: var(--hover-color);
}

#launcher #side-menu .version-type .img {
    width: 6vh;
    height: 6vh;
    /*background-color: gainsboro;*/
}

#launcher #side-menu .version-type .name {
    width: 50%;
    text-align: center;
    font-family: SquareFont;
    font-size: 2.5vh;
    /*background-color: maroon;*/
}


/*Main Container*/

#launcher #MainContainer {
    height: 100%;
    width: 80%;
    backdrop-filter: blur(2px);
}

#launcher #MainContainer .content {
    display: none;
}

#launcher #MainContainer .content.show {
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Vanilla style*/


/**/

#launcher #MainContainer .content.show#vanilla-container .logo {
    width: 45%;
    height: 20%;
    background-image: url(./ressources/graphics/images/minecraft_java_logo.svg);
    /*background-color: orange;*/
    margin-top: 10vh;
}

#launcher #MainContainer .content.show#vanilla-container .button {
    width: 30vw;
    height: 10vh;
    background-color: var(--main-green);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    border-radius: 20px;
    padding: 5px;
}


/**/