.notifications[data-type="done"] {
    --notifications-color: #36eb22;
    --notifications-border-color: #24f10675;
    --notifications-background-color: #0795421f;
    --notifications-effect-color: #259c08;
    --notifications-icon-color: brightness(0) saturate(100%) invert(58%) sepia(77%) saturate(1161%) hue-rotate(69deg) brightness(113%) contrast(92%);
    --notifications-icon: url(../../ressources/graphics/icons/done.svg);
    --notifications-cross: url(../../ressources/graphics/icons/close.svg);
}

.notifications[data-type="info"] {
    --notifications-color: #0396ff;
    --notifications-border-color: #062cf175;
    --notifications-background-color: #0849941f;
    --notifications-effect-color: #0396ff;
    --notifications-icon-color: brightness(0) saturate(100%) invert(43%) sepia(96%) saturate(2191%) hue-rotate(182deg) brightness(99%) contrast(103%);
    --notifications-icon: url(../../ressources/graphics/icons/info.svg);
    --notifications-cross: url(../../ressources/graphics/icons/close.svg);
}

.notifications[data-type="warning"] {
    --notifications-color: #ffc13c;
    --notifications-border-color: #f18e06cf;
    --notifications-background-color: #dc800129;
    --notifications-effect-color: #ffb103;
    --notifications-icon-color: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    --notifications-icon: url(../../ressources/graphics/icons/important.svg);
    --notifications-cross: url(../../ressources/graphics/icons/close.svg);
}

.notifications[data-type="error"] {
    --notifications-color: #ff0303;
    --notifications-border-color: #f10606cf;
    --notifications-background-color: #dc110129;
    --notifications-effect-color: #ff0303;
    --notifications-icon-color: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(1200%) contrast(0.8);
    --notifications-icon: url(../../ressources/graphics/icons/close.svg);
    --notifications-cross: url(../../ressources/graphics/icons/close.svg);
}

.notifications[data-state="hide"] {
    display: none;
}

.notifications[data-state="closing"] {
    height: 8vh;
    max-width: 97vw;
    position: fixed;
    bottom: calc(5vh + (var(--ymargin) * var(--id)));
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--notifications-border-color);
    box-shadow: 0px 0px 2px var(--notifications-effect-color);
    border-radius: 10px;
    background-color: var(--notifications-background-color);
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: close 1s;
    z-index: 97;
    transition: all 1s;
}

.notifications[data-state="show"] {
    height: 8vh;
    max-width: 97vw;
    position: fixed;
    bottom: calc(5vh + (var(--ymargin) * var(--id)));
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--notifications-border-color);
    box-shadow: 0px 0px 2px var(--notifications-effect-color);
    border-radius: 10px;
    background-color: var(--dark-black);
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: notificationsUp 1.5s;
    z-index: 97;
    transition: all 1s;
}

.notifications[data-state="hide"] .color, .notifications[data-state="show"] .color {
    background-color: var(--notifications-color);
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 0 5px 5px 0;
    transform: translateX(-25px);
}

.notifications[data-state="closing"] .icon, .notifications[data-state="show"] .icon {
    background-image: var(--notifications-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    margin: 0 10px 0 -10px;
    filter: var(--notifications-icon-color);
}

.notifications[data-state="closing"] p, .notifications[data-state="show"] p {
    font-size: 1.5vw;
    font-weight: 500;
    white-space: nowrap;
    font-family: SquareFont;
}

.notifications[data-state="closing"] p strong, .notifications[data-state="show"] p strong {
    font-size: 1.7vw;
    font-weight: 700;
    margin-right: 10px;
    color: var(--notifications-color);
    font-family: SquareFont;
}

.notifications[data-state="closing"] .cross, .notifications[data-state="show"] .cross {
    background-image: var(--notifications-cross);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

@keyframes notificationsUp {
    0% {
        left: 50%;
        transform: translateX(-50%);
        height: 0;
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes close {
    100% {
        height: 0;
    }
}